.scholarship-alert-square {
  position: fixed;
  bottom: 20px;
  right: -300px;
  width: 250px;
  height: 250px;
  background-color: #4882ec;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: right 0.5s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
}

.scholarship-alert-square.show {
  right: 20px;
}

.scholarship-alert-square .icon {
  margin-bottom: 10px;
  color: #856404;
}

.scholarship-alert-square .text p {
  margin: 5px 0;
}

.scholarship-alert-square a {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #ffffff;
  color: black;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #ffffff;
}
.text
{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.icon{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: azure;
  margin-top: 10px;
}
.alert-icon
{
  color: white;
}